body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 40px;
    background-color: rgb(238, 208, 172);
}
#container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}